body{
  font-family: 'Encode Sans SC', sans-serif;
  background-color: #00092b;
  text-align: center;
  color: white;
  border: 60px solid #7aebd8;
  border-top: 0px;
  margin: 0px;
}
p {
  padding: 5% 20% 0px 20%;
}
form {
  font-size: 1.5em;
}
input {
  margin: 0px 0px 10px 0px;
  padding: 5px 40px 5px 40px;
}
.btn {
  padding: 0px;
  height: 70px;
  width: 140px;
  border-radius: 15px;
  background-color: #eda92b;
  font-size: 1em;
}
